/* ============== Global Variables ==============*/
$white: #FFFFFF;
$orange: #FE7F2D;
$highlight: #FE7F2D;
$highlight-lighten: #FFCEAF;
$blue-background: #1F878C;
$grey-background: #979797;
$grey-font: #858585;
$grey-background-darker: #3C3C3C;
$grey-background-lighter: #6B6B6B;
/* ============== Global Style ==============*/
.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}

.button {
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-align: center;
}

.button-highlight {
  background: $highlight;
  border: 3px solid $highlight;
  box-shadow: 1 1 3 #FFFFFF;
}
/* ===x =========== Banner Style ==============*/
body {
  font-family: 'Open Sans',"brandon-grotesque",Helvetica,sans-serif;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4)), url("../images/header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  header {
    padding: 2rem 0;
  }

  #logo {
    color: $white;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0;

    span {
      font-weight: 300;
    }
  }

  nav {
    float: right;

    a {
      color: $white;
      font-weight: 500;
      text-decoration: none;
      margin-left: 2rem;
    }

    a:hover {
      font-weight: bold;
    }
  }

  .content {
    padding: 5rem 0 6rem;

    .subtitle,
    .title {
      color: $white;
      text-align: center;
      box-shadow: 1 1 3 #FFFFFF;
    }

    .title {
      font-weight: 600;
      font-size: 2rem;
      margin: 0;
    }

    .subtitle {
      font-weight: 200;
      font-size: 1.5rem;
      width: 500px;
      margin: 1rem auto 3rem;
      line-height: 1.35;
    }

    .button-wrapper {
      text-align: center;
      margin: 1rem 0;
    }
  }
}

#posts {
  margin: 0 auto;
  border-top: 5px solid $orange;

  .categories {
    background-color: $blue-background;
    height: 50px;
    line-height: 50px;

    .category-wrapper {
      text-align: center;

      .category {
        padding: 1rem;
        text-decoration: none;
        color: $white;
      }
      .category-selected {
        padding: 1rem;
        text-decoration: none;
        color: $white;
        background-color: $orange;
      }

      .category:hover {
        background-color: $orange;
      }
    }
  }

  #card-wrapper {
    margin: auto;
    width: 960px;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    /* Safari */
    display: flex;
    -webkit-flex-wrap: wrap;
    /* Safari */
    flex-wrap: wrap;
    -webkit-align-content: space-around;
    /* Safari */
    align-content: space-around;

    .post-filter {
      text-align: center;
      padding: 20px;
      margin: 10px;
      width: 100%;
    }

    .card {
      width: 300px;
      height: auto;
      margin: 15px auto;
      color: $grey-font;
      border: 1px #eee solid;
      box-shadow: 1px 2px 10px #eee;

      #card-header {
        width: 300px;
        height: 150px;
        overflow: hidden;

        img {
          height: 100%;
          min-width: 100%;
          left: 50%;
          position: relative;
          transform: translateX(-50%);
        }
      }

      #card-content {
      
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;


        .card-avatar {
          width: 65px;
          height: 65px;
          border-radius: 50%;
          overflow: hidden;
          position: relative;

          .profile-pic {
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: -10;
            height: auto;
            width: 100%;
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
          }
        }
        
        .card-info {

          padding: 0 20px;

          p {
            padding: 0;
            margin: 0;
            line-height: 1.2em;
          }
          
          .name {
            font-weight: bold;
          }

          .occupation,
          .post-date {
            font-size: 14px;
          }

          .post-date {
            font-size: 12px;
            padding-top: 10px;
          }

        }

      }
    }

      .post-title {
        height: 65px;
        padding: 10px;
        font-weight: 700;

        a {
          text-decoration: none;
          color: $grey-font;
          font-size: 110%;
        }
      }
    }
  }

  .pagination-wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;

    .pagination {
      display: inline-block;

      a {
        color: $grey-font;
        float: left;
        font-weight: bold;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
      }

      a.active {
        background-color: $highlight;
        color: $white;
      }

      a:hover:not(.active) {
        background-color: #ddd;
      }
    }
  }

#footer {
  color: $white;
  font-weight: 600;

  .content {
    height: 250px;
    background-color: $grey-background-lighter;
    margin: auto;
    display: flex;
    justify-content: center;
    display: -webkit-flex;
    /* Safari */
    display: flex;

    .contact {
      width: 300px;
      padding: 10px;

      .email {
        font-weight: 700;
        line-height: 60%;
        font-size: 110%;

        span {
          font-weight: 400;
          font-size: 90%;
        }
      }

      .subscription {
        font-weight: 700;
        line-height: 60%;
        font-size: 110%;
      }
    }

    .social {
      width: 300px;
      padding: 10px;

      p {
        font-weight: 700;
        line-height: 60%;
        font-size: 110%;
      }

      ul li {
        list-style: none;

        a {
          text-decoration: none;
        }

        a, a:visited, a:active {
          color: $white;
        }
        a:hover {
          color: $highlight;
        }

      }
    }

    .pages {
      width: 300px;
      padding: 10px;

      p {
        font-weight: 700;
        line-height: 60%;
        font-size: 110%;
      }

      ul li {
        list-style: none;
        a {
          text-decoration: none;
        }

        a, a:visited, a:active {
          color: $white;
        }
        a:hover {
          color: $highlight;
        }
      }
    }
  }

  .signature {
    width: 100%;
    height: 75px;
    background-color: $grey-background-darker;
    text-align: center;
    vertical-align: center;
    margin: auto;
    line-height: 75px;
  }
}
