/* ============== Global Variables ==============*/
/* ============== Global Style ==============*/
.wrapper {
  width: 960px;
  max-width: 90%;
  margin: 0 auto;
}

.button {
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0.5rem 3rem;
  font-weight: 700;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.button-highlight {
  background: #FE7F2D;
  border: 3px solid #FE7F2D;
  box-shadow: 1 1 3 #FFFFFF;
}

/* ===x =========== Banner Style ==============*/
body {
  font-family: 'Open Sans',"brandon-grotesque",Helvetica,sans-serif;
  margin: 0 auto;
  background-color: #FFFFFF;
}

#banner {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0.4)), url("../images/header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#banner header {
  padding: 2rem 0;
}

#banner #logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.35rem;
  float: left;
  margin: 0;
}

#banner #logo span {
  font-weight: 300;
}

#banner nav {
  float: right;
}

#banner nav a {
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  margin-left: 2rem;
}

#banner nav a:hover {
  font-weight: bold;
}

#banner .content {
  padding: 5rem 0 6rem;
}

#banner .content .subtitle,
#banner .content .title {
  color: #FFFFFF;
  text-align: center;
  box-shadow: 1 1 3 #FFFFFF;
}

#banner .content .title {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
}

#banner .content .subtitle {
  font-weight: 200;
  font-size: 1.5rem;
  width: 500px;
  margin: 1rem auto 3rem;
  line-height: 1.35;
}

#banner .content .button-wrapper {
  text-align: center;
  margin: 1rem 0;
}

#posts {
  margin: 0 auto;
  border-top: 5px solid #FE7F2D;
}

#posts .categories {
  background-color: #1F878C;
  height: 50px;
  line-height: 50px;
}

#posts .categories .category-wrapper {
  text-align: center;
}

#posts .categories .category-wrapper .category {
  padding: 1rem;
  text-decoration: none;
  color: #FFFFFF;
}

#posts .categories .category-wrapper .category-selected {
  padding: 1rem;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FE7F2D;
}

#posts .categories .category-wrapper .category:hover {
  background-color: #FE7F2D;
}

#posts #card-wrapper {
  margin: auto;
  width: 960px;
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap;
  -webkit-align-content: space-around;
  /* Safari */
  align-content: space-around;
}

#posts #card-wrapper .post-filter {
  text-align: center;
  padding: 20px;
  margin: 10px;
  width: 100%;
}

#posts #card-wrapper .card {
  width: 300px;
  height: auto;
  margin: 15px auto;
  color: #858585;
  border: 1px #eee solid;
  box-shadow: 1px 2px 10px #eee;
}

#posts #card-wrapper .card #card-header {
  width: 300px;
  height: 150px;
  overflow: hidden;
}

#posts #card-wrapper .card #card-header img {
  height: 100%;
  min-width: 100%;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

#posts #card-wrapper .card #card-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
}

#posts #card-wrapper .card #card-content .card-avatar {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

#posts #card-wrapper .card #card-content .card-avatar .profile-pic {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -10;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#posts #card-wrapper .card #card-content .card-info {
  padding: 0 20px;
}

#posts #card-wrapper .card #card-content .card-info p {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}

#posts #card-wrapper .card #card-content .card-info .name {
  font-weight: bold;
}

#posts #card-wrapper .card #card-content .card-info .occupation,
#posts #card-wrapper .card #card-content .card-info .post-date {
  font-size: 14px;
}

#posts #card-wrapper .card #card-content .card-info .post-date {
  font-size: 12px;
  padding-top: 10px;
}

#posts #card-wrapper .post-title {
  height: 65px;
  padding: 10px;
  font-weight: 700;
}

#posts #card-wrapper .post-title a {
  text-decoration: none;
  color: #858585;
  font-size: 110%;
}

.pagination-wrapper {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.pagination-wrapper .pagination {
  display: inline-block;
}

.pagination-wrapper .pagination a {
  color: #858585;
  float: left;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination-wrapper .pagination a.active {
  background-color: #FE7F2D;
  color: #FFFFFF;
}

.pagination-wrapper .pagination a:hover:not(.active) {
  background-color: #ddd;
}

#footer {
  color: #FFFFFF;
  font-weight: 600;
}

#footer .content {
  height: 250px;
  background-color: #6B6B6B;
  margin: auto;
  display: flex;
  justify-content: center;
  display: -webkit-flex;
  /* Safari */
  display: flex;
}

#footer .content .contact {
  width: 300px;
  padding: 10px;
}

#footer .content .contact .email {
  font-weight: 700;
  line-height: 60%;
  font-size: 110%;
}

#footer .content .contact .email span {
  font-weight: 400;
  font-size: 90%;
}

#footer .content .contact .subscription {
  font-weight: 700;
  line-height: 60%;
  font-size: 110%;
}

#footer .content .social {
  width: 300px;
  padding: 10px;
}

#footer .content .social p {
  font-weight: 700;
  line-height: 60%;
  font-size: 110%;
}

#footer .content .social ul li {
  list-style: none;
}

#footer .content .social ul li a {
  text-decoration: none;
}

#footer .content .social ul li a, #footer .content .social ul li a:visited, #footer .content .social ul li a:active {
  color: #FFFFFF;
}

#footer .content .social ul li a:hover {
  color: #FE7F2D;
}

#footer .content .pages {
  width: 300px;
  padding: 10px;
}

#footer .content .pages p {
  font-weight: 700;
  line-height: 60%;
  font-size: 110%;
}

#footer .content .pages ul li {
  list-style: none;
}

#footer .content .pages ul li a {
  text-decoration: none;
}

#footer .content .pages ul li a, #footer .content .pages ul li a:visited, #footer .content .pages ul li a:active {
  color: #FFFFFF;
}

#footer .content .pages ul li a:hover {
  color: #FE7F2D;
}

#footer .signature {
  width: 100%;
  height: 75px;
  background-color: #3C3C3C;
  text-align: center;
  vertical-align: center;
  margin: auto;
  line-height: 75px;
}
 

 /*# sourceMappingURL= style.css.map */